@inherits LayoutComponentBase
@layout BlazorWebAppWithBrandingAuth.Components.Layout.TopNavLayout
<div class="container-xxl my-3"> 
<h1>Manage your account</h1>

<div>
    <h2>Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-lg-3">
            <ManageNavMenu />
        </div>
        <div class="col-lg-9">
            <div class="container-xxl my-3"> 
                @Body
            </div>
           
        </div>
    </div>
</div>
</div>